django
numpy
pandas
requests
crispy-bootstrap5
django-crispy-forms
djangorestframework
google-ai-generativelanguage
google-api-core
google-auth
google-pasta
gunicorn
json
langchain
langchain-core
langchain-google-genai
langgraph
langgraph-checkpoint
langsmith
langgraph
matplotlib
pillow
pandas
python-dotenv
requests
